body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-transform: uppercase;
    text-align: left;
    padding: 0.5em 0;
    border-bottom: 1px solid #000;
    margin-bottom: 0.5em;
}

nav {
    margin-bottom: 2em;
}